/* General Styling */
    h1, h2, h3, h4, h5, h6, p, button, label, option {
        font-family: 'Raleway', sans-serif;
    }

/* Home */
    /* Hero */
        div.carousel-item {
            height: 100vh;
            width: 100vw;
        }

        div#carouselItem1 {
            background-color: lightcoral;
        }

        div#carouselItem2 {
            background-color: lightblue;
        }

        div#carouselItem3 {
            background-color: lightgreen;
        }
        
        div.hero-item > .row {
            margin-top: 100px;
            padding-top: 20vh;
            padding-bottom: 20vh;
            height: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        div.hero-item > row {
            justify-self: center;
        }

        img.heroImage {
            width: 100%;
        }

        .carouselButton {
            border-radius: 50px;
            padding: 10px 20px 10px 20px;

        }

    /* Gallery */
        h2#new-releases {
            padding: 10vh 0vw 5vh 5vw;
        }

        div.newReleases {
            display: flex;
        }

        div.productImage > img {
            width: 100%;
            height: auto;
        }

        div.heroText-container {
            padding-left: 12vw;
        }

        div.heroImage-container {
            padding-right: 12vw;
        }

        div.toNewReleases {
            height: 7.5vh;
            text-align: center;
            position: absolute;
            z-index: 1;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
        }

        div.carousel-indicators {
            bottom: 7.5vh;
        }

        i.fa-chevron-down {
            font-size: 28px;
            color: white;
            width: 100%;
        }

        .card {
            margin-bottom: 20px;
            border-radius: 0;
        }

        button.addToCart {
            border-radius: 25px;
            padding: 10px 5px 10px 5px;
            width: 100%;
            border-color: black;
        }

    /* Products */
        div.products {
            padding-top: 75px;
        }

        div.products > div.header > * {
            padding: 0;
            margin: 0
        }

        div.products > div.productsContent {
            margin-top: 25px;
        }

        div.filterType {
            margin-top: 10px;
        }

        div.filterOptions {
            padding-left: 30px;
        }

        div.sortBy {
            display: flex;
            justify-content: right;
            padding-bottom: 20px;
        }
